body{background-image: url(fundo\ 1.png ); margin: 0; background-repeat:no-repeat;background-size: 111%;}
table {width: 100%;}  
    td{height: 70px; width: 25%;} 
    #co{text-align: center; background-color: rgb(62,0,121); height: 70px;}
    #ff{height:90px; width:200px; background-color: rgb(45,2,85); margin: auto;}
    .google{height: 75px; width: 250px;}
#googlefoto{text-align: center;}
#telefonelogo{text-align: center;}
.formulário{height:882px; width: 400px;;}
.fdsss{background-color: rgb(240, 81, 165);}
.fdsssafg{background-color: rgb(76, 253, 6);}
#dgad{text-align: left;height: 50px; width: 3000px;}
#geyseyr{text-align: center;height: 50px; width: 3000px;}
.sghtrhndf{background-color:#430b6e;}
#jjjjjjjjj{width: 5%; height: 400px;}
#fasdgehtq{text-align: left;}
#adeuqet{text-align: left;}
#grdhrdh{text-align: center;}

.center { text-align: center;
color: #89f668;}
.gfshre{color: #89f668;}
.grsryy{color: white;}
#est7dar{font-size: 18px;color: white;font-family: Arial, Helvetica, sans-serif;}
.centrrrer{font-size: 25px;text-align: center;
    color: #89f668}
    .aguwruqwf{background-color: rgb(91, 16, 120, 1);text-align: center;
        color: #89f668;}

        